{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <br>  <p class="text-center">Com o ... suas compras e vendas de veículos ficam mais fáceis. ;)</p>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <hr>
            </div>
        </div>

        <div class="row">
            <aside class="col-sm-4 offset-sm-4">
                <div class="card">
                    {#                {{ form(form) }}#}
                    <article class="card-body">
                        <a href="/cadastrar" class="float-right btn btn-outline-primary">Cadastre-se</a>
                        <h4 class="card-title mb-4 mt-1">Entrar</h4>
                        <hr>
                        {% if error %}
                            <p class="text-red text-center">{{ error.messageKey }}</p>
                        {% endif %}
                        <form method="post" action="{{ path('login') }}">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>

                                    <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="E-mail">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input type="password" name="_password" class="form-control" placeholder="password">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Entrar  </button>
                            </div> <!-- form-group// -->
                            {#                        <p class="text-center"><a href="#" class="btn">Esqueceu sua senha??</a></p>#}
                        </form>
                    </article>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
        </div> <!-- row.// -->

    </div>
    <!--container end.//-->
{% endblock %}
