<!-- Footer -->
<footer class="page-footer font-small pt-4">
    <!-- Copyright -->
    <div class="bg-light fixed-bottom text-center py-3">© 2019 Copyright:
        <a href="https://www.linkedin.com/in/denis-prust-ab5ab0115"> Denis Prust</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->